* {
    --white: #f5f5f5;
    --grey: #313131;
    --darkgrey: #262626;
    --black: #151515;

    --turf: #c5f700;
    --salmon: #cf2c03;
    --zones: #fd5603;
    --tower: #8e00fa;
    --rainmaker: #fbff10;
    --clams: #00df95;
}
html {
    text-align: center;
    background-color: var(--darkgrey);
    color: var(--white);
}
div {
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.5rem;
}

button {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    font-weight: bold;
    margin: .5rem;
}

.modeButtons, .vsRuleButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vsRuleButtons button {
    padding: .75rem;
}

button img {
    width: 50px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    margin-left: 0;
    padding-left: 0;
}

.smallHeader {
    font-size: 1.5rem;
}

.miniHeader {
    font-size: 1.25rem;
}

.hidden {
    display: none;
}

section { 
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.displayBox {
    border: 2px solid var(--black);
    box-shadow: 8px 8px 2px 1px var(--black);
    border-radius: 30px;
    padding: 1rem;
    background-color: var(--grey);
}

/* .displayBox p {
    background-color: var(--black);
    padding: 1rem .25rem;
} */

.displayBox img {
    max-width: 100%;
}

.displayBox.turf {
    border-color: var(--turf);
    box-shadow: 5px 5px var(--turf);
}
.displayBox.coop {
    border-color: var(--salmon);
    box-shadow: 5px 5px var(--salmon);
}
.displayBox.AREA {
    border-color: var(--zones);
    box-shadow: 5px 5px var(--zones);
}
.displayBox.LOFT {
    border-color: var(--tower);
    box-shadow: 5px 5px var(--tower);
}
.displayBox.GOAL {
    border-color: var(--rainmaker);
    box-shadow: 5px 5px var(--rainmaker);
}
.displayBox.CLAM {
    border-color: var(--clams);
    box-shadow: 5px 5px var(--clams);
}

@media only screen and (min-width: 60em) {
    .displayBox {
        width: 30vw;
    }
}